In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('titanic.csv')

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
# replacing zero and one
import numpy as np
df['cabin_mean']=np.where(df['Cabin'].isnull(),1,0)

In [5]:
df=pd.read_csv('titanic.csv',usecols=['Age','Survived','Fare'])

In [6]:
df.isnull().mean()

Survived    0.000000
Age         0.198653
Fare        0.000000
dtype: float64

In [7]:
meadian=df.Age.mean()

In [8]:
def imput_nan(df,variable,meadian):
    df[variable+'_mean']=df[variable].fillna(meadian)

In [9]:
df['Age'].std()

14.526497332334044

In [10]:
k=df['Age'].dropna().sample(random_state=0)
k.head()

423    28.0
Name: Age, dtype: float64

In [11]:

# random sample imputation
def impute_nan(df,variable,median):
    df[variable+"_median"]=df[variable].fillna(median)
    df[variable+"_random"]=df[variable]
    ##It will have the random sample to fill the na
    random_sample=df[variable].dropna().sample(df[variable].isnull().sum(),random_state=0)
    ##pandas need to have same index in order to merge the dataset
    random_sample.index=df[df[variable].isnull()].index
    df.loc[df[variable].isnull(),variable+'_random']=random_sample

In [12]:
impute_nan(df,'Age',meadian)

In [13]:
df.head(501234555)

     Survived   Age     Fare  Age_median  Age_random
0           0  22.0   7.2500   22.000000        22.0
1           1  38.0  71.2833   38.000000        38.0
2           1  26.0   7.9250   26.000000        26.0
3           1  35.0  53.1000   35.000000        35.0
4           0  35.0   8.0500   35.000000        35.0
..        ...   ...      ...         ...         ...
886         0  27.0  13.0000   27.000000        27.0
887         1  19.0  30.0000   19.000000        19.0
888         0   NaN  23.4500   29.699118        15.0
889         1  26.0  30.0000   26.000000        26.0
890         0  32.0   7.7500   32.000000        32.0

[891 rows x 5 columns]

In [14]:
# nan value creating seprate colume
import numpy as np
def nan_(df,variable):
    df['only_nan_'+variable]=np.where(df[variable].isnull(),1,0)

In [15]:
nan_(df,'Age')

In [16]:
df['only_nan_Age'].sum()

177

In [17]:
extreme=df.Age.mean()+3*df.Age.std()

In [18]:
def end_distrubution(df,variable,extreme):
    df[variable+'exp']=df[variable].fillna(extreme)

In [19]:
end_distrubution(df,'Age',extreme)

In [20]:
df.head()

   Survived   Age     Fare  Age_median  Age_random  only_nan_Age  Ageexp
0         0  22.0   7.2500        22.0        22.0             0    22.0
1         1  38.0  71.2833        38.0        38.0             0    38.0
2         1  26.0   7.9250        26.0        26.0             0    26.0
3         1  35.0  53.1000        35.0        35.0             0    35.0
4         0  35.0   8.0500        35.0        35.0             0    35.0

In [21]:
def fill_0_100(df,variable):
    df[varible+'zero']=df[variable].fillna(0)
    df[varible+'zero']=df[variable].fillna(100)

In [22]:
df=pd.read_csv('netflix.csv')

In [23]:
df.isnull().sum()

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [24]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [25]:
def freq(df,variable):
    most_freq=df[variable].mode()[0]
    df[variable+'_most_frequt']=df[variable].fillna(most_freq,inplace=True)
    df[variable].fillna(most_freq,inplace=True)

In [26]:
for i in ['director','cast','country']:
    freq(df,i)

In [27]:
df['director'].mode()[0]

'RaÃºl Campos, Jan Suter'

In [28]:
df['rating'].fillna('NC',inplace=True)

In [29]:
odinal={'TV-PG':1, 'TV-MA':2, 'TV-Y7-FV':3, 'TV-Y7':4, 'TV-14':5, 'R':5, 'TV-Y':6, 'NR':7,
       'PG-13':8, 'TV-G':9, 'PG':10, 'G':11, 'NC':12, 'UR':13, 'NC-17':14}

In [30]:
df['rating_odinal']=df['rating'].map(odinal)

In [31]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,director_most_frequt,cast_most_frequt,country_most_frequt,rating_odinal
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,None,None,None,1
1,80117401,Movie,Jandino: Whatever it Takes,"RaÃºl Campos, Jan Suter",Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,None,None,None,2
2,70234439,TV Show,Transformers Prime,"RaÃºl Campos, Jan Suter","Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",None,None,None,3
3,80058654,TV Show,Transformers: Robots in Disguise,"RaÃºl Campos, Jan Suter","Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,None,None,None,4
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,None,None,None,5

In [32]:
# changing with number times it occured
train_set=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data' , header = None,index_col=None)

In [33]:
columns=[1,3,5,6,7,8,9,13]

In [34]:
train_set=train_set[columns]

In [35]:
train_set.columns=['Employment','Degree','Status','Designation','family_job','Race','Sex','Country']

In [36]:
for i in train_set.columns[:]:
    print(i,":",len(train_set[i].unique()),'labels')

Employment : 9 labels
Degree : 16 labels
Status : 7 labels
Designation : 15 labels
family_job : 6 labels
Race : 5 labels
Sex : 2 labels
Country : 42 labels

In [37]:
train_set['country_count']=train_set['country']

KeyError: 'country'

In [ ]:
dic=train_set['Country'].value_counts().to_dict()

In [ ]:
train_set['Country']=train_set['Country'].map(dic)

In [ ]:
train_set.head()